html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
  overflow-x: hidden;
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.body_page{
    font-family: 'Raleway';
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    gap: 104px;
    margin: 32px 64px 32px 64px;
  }

.logo{
  display: flex;
  flex-direction: column;
}

.logo_anatrindade{
  font-weight: 400;
  font-size: 37px;
  margin-bottom: 0px;

  }

.logo_corretoradeplanos{
    font-family: 'Manrope';
    font-weight: 200;
    margin-top:5px;
    font-size: 13px;
    color: #777777;
}
.menu_superior{
  display: flex;
}
.icone_menu{
  display: none;
}
.conteudo_menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-family: 'Manrope';
    font-size: 13px;
    font-weight: 300;
    gap:200px;
  }
.banner_principal{
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url("banner-1.png");
  background-size: cover;
  background-position: center center;
  height: 23.25vw;
}
.button_cotarplano{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(35,130,150,1) 0%, rgba(32,131,152,1) 100%);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding:0 40px 0 40px;
  height: 70px;
}


.body_content{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16vw;
  font-size: 12px;
}

.planos_de_saude{
  margin-bottom: 40px;
}
.title_description_planodesaude{
  font-family: 'Manrope';
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 40px;
}
.description_planosdesaude{
  font-size: 12px;
  margin-bottom: 24px;
  color: #777777;
}
.images_planos{
  display: flex;
  gap: 48px;
}
.content_listplanos{
  font-family: 'Inter';
}
.title_listplanosdesaude{
  margin: 32px 0 24px 0;
  font-weight: 600;
  font-size: 16px;
  color: #777777;
}
.list_planos{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  margin-left: 16px;
  color: #777777;
  list-style-type: disc;
}
.container_sobremim{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Inter';
  font-weight: 300;
  gap: 54px;
  background-color: #228296;
  padding: 48px 100vw;
}
.text_sobremim{
  display: flex;
  flex-direction: column;
  gap:24px;
}
.title_sobremim2{
  display: none;
}
.title_sobremim{
  font-size: 16px;
  font-weight: 200;
}
.content_sobremim{
  display: flex;
  flex-direction: column;
  gap:16px;
  width: 715px;
}
.container_contato{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 128px;
  font-family: 'Inter';
}
.content_contato{
  display: flex;
  flex-direction: column;
  color: #777777;
  gap: 16px;
  font-size: 12px;
}

.content_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-size: 12px;  
  background-color: #d9d9d9;
  color: #777777;
  height: 72px;

}

button_whatsapp{
  display: block; 
  height: 2500px;
}
  
  #myBtn {
    position: fixed;
    bottom: 20px;
    right: 4vw;
    z-index: 9999;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .body_page{
      width: 100vw;
      margin: 0 0;
    }
    .menu_superior{
      display: none;
    }
    .header{
      gap: 0;
      margin: 11.63vw 0 5.81vw 0;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .logo{
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .logo_anatrindade{
      font-size: 30px;
    }
    .icone_menu{
      display: flex;
      align-self: flex-start;
      padding:0 9.186vw 0 9.186vw;
    }.

    .banner_principal{
      overflow:hidden;
      height: 41.9vw;
      background-position: -50vw;
      justify-content: center;
    }
    .body_content{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      margin:  50px 8.14vw 0 8.14vw;
      font-size: 12px;
    }
    .planos_de_saude{
      display: flex;
      flex-direction: column;
    }
    .title_description_planodesaude{
      font-size: 6.96vw;
      margin-top: 0;
    }
    .image_sobremim1{
      width: 28.8vw;
    }
    .images_planos{
      gap: 1.86vw;
    }
    .images_planossize{
      width: 19.53vw;
    }
    .list_planos{
      height: 95px;
      flex-wrap: wrap;
    }
    .container_sobremim{
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
      margin: 0 -8.14vw 50px -8.14vw;
      padding: 30px 8.14vw;
    }
    .title_sobremim{
      display: none;
    }
    .title_sobremim2{
      display: flex;
      font-size:6.96vw;
      font-family: 'Manrope';
      font-weight: 200
    }
    .content_sobremim{
      width: 84.41vw;
    }
  }